<div class="container">
  <h2>Playing History for <%= @team.player_one %>  &  <%= @team.player_two %> </h2>
        
  <table class="table">
    <thead>
      <tr>
        <th>Matchup</th>
        <th>Date</th>
        <th>Score</th>
        <th>Winner</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
	      <tr>

	      </tr>
    </tbody>
  </table>
</div>