<div class="container">
	<p>Name:  <%= @user.first_name %> <%= @user.last_name %></p>
	<p>Username: <%= @user.user_name %></p>

	<% @user.teams.each do |team| %>
		<%= team.player_one %>
	<% end %>
</div>